*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
	color: #3f3f3f;
	font: 700 16px/1.5 'Lato', Arial, Helvetica, sans-serif;
}
img {
	max-width: 100%;
}
ul li,
ol li {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
a {
	color: inherit;
	text-decoration: none;
}
button {
	display: block;
	padding: 15px;
	border: none;
	border-radius: 4px;
	color: #fff;
	font-size: 18px;
	background: linear-gradient(to bottom, rgba(177, 5, 255, 0.6), #b105ff);
	transition: .4s;
	cursor: pointer;
}
button:hover {
	box-shadow: 0 0 5px 1px rgba(177, 5, 255, 0.5);
}
button:disabled {
	background: rgba(177, 5, 255, 0.3);
	transition: 0s !important;
}
button:disabled:hover {
	box-shadow: none;
	cursor: default;
}
*::-webkit-scrollbar {
    width: 8px;
    background-color: transparent;
}
*::-webkit-scrollbar-thumb {
    background: #acacac;
    border-radius: 4px;
}

*::-webkit-scrollbar-thumb:hover {
    background: rgba(177, 5, 255, 0.8);
}
.container {
	position: relative;
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 10px;
}
.hidden,
.example-list {
	display: none;
}
.show {
	display: block;
}
.header-main {
	padding: 10px 0;
	color: #fff;
	background-color: rgba(177, 5, 255, 0.8);
}
.header-main-wrap {
	display: flex;
	justify-content: space-between;
}
.header-logo-wrap {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
.header-logo-wrap img {
	width: 60px;
}
.header-logo-wrap h1 {
	margin: 0 10px;
	font-size: 34px;
}
.header-main__link {
	align-self: center;
	width: 50px;
	height: 50px;
	background: url(img_main/arrow.svg) no-repeat;
	transform: rotate(180deg);
	cursor: pointer;
}
.main-title {
	padding: 40px 0;
	font-size: 28px;
	text-align: center;
}
.unit,
.menu {
	display: block;
	width: 480px;
	margin: 0 auto 20px;
	border-radius: 4px;
	color: #fff;
	background: linear-gradient(to bottom, rgba(177, 5, 255, 0.6), #b105ff);
	transition: .6s;
	cursor: pointer;
}
.unit:hover,
.menu:hover {
	box-shadow: 0px 6px 6px 0px rgba(0,0,0,0.2);
}
.unit__title,
.menu {
	position: relative;
	padding-left: 80px;
	font: 700 26px/2.8 'Lato', Arial, Helvetica, sans-serif;
}
.unit__title__img,
.menu::before {
	position: absolute;
	content: '';
	top: 50%;
	left: 10px;
	width: 45px;
	height: 45px;
	border-radius: 50%;
	background: #fff url(img_main/end.jpg) center center no-repeat;
	background-size: cover;
	transform: translateY(-50%);
}
.unit__title__img {
	background-size: 75% 75%;
}
.menu::before {
	background-image: url('img_main/drawing.svg');
	background-size: 75% 75%;
}
.menu-verbs::before {
	background-image: url('img_main/verbs.svg');
	background-size: 75% 75%;
}
.category-wrap {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
	grid-column-gap: 30px;
	grid-row-gap: 30px;
	max-width: 800px;
	margin: 60px auto;
}
.category {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	min-height: 250px;
	border: 1px solid rgba(177, 5, 255, 0.5);
	border-radius: 6px;
	box-shadow: 2px 6px 6px 0px rgba(0,0,0,0.2);
	text-align: center;
	transition: .4s;
	cursor: pointer;
}
.category:hover {
	transform: scale(1.01);
}
.category::before {
	position: absolute;
	content: '';
	top: 15%;
	left: 50%;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	background: rgba(177, 5, 255, 0.8) url(img_main/closed-book.svg) center center no-repeat;
	background-size: cover;
	transform: translateX(-50%);
}
.category-gramar::before {
	background-image: url(img_main/book.svg);
}
.category-topic::before {
	background-image: url(img_main/mix.svg);
}
.category-practice::before {
	background-image: url(img_main/test.svg);
}
.category-audio::before {
	background-image: url(img_main/headphones.svg);
}
.category-homework::before {
	background-image: url(img_main/pen.svg);
}
.category__title {
	margin-bottom: 20px;
	font-size: 24px;
}

/*Gramar*/

.gramar-item {
	position: relative;
	max-width: 600px;
	margin: 0 auto 15px;
	padding-left: 27px;
	font-size: 18px;
	letter-spacing: 1px;
}
.gramar-item::before {
	position: absolute;
	content: '';
	top: 17px;
	left: 0;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background-color: #b105ff;
	transform: translateY(-50%);
}
.gramar-item > span {
	padding: 0 5px;
	color: #b105ff;
	font-size: 20px;
}
.example-item {
	font-size: 0.9em;
	font-weight: 400;
	font-style: italic;
	letter-spacing: 0;
}
.gramar-item ul {
	margin-bottom: 25px;
}
.gramar-item__img::before {
	top: 15px;
	left: -2px;
	width: 15px;
	height: 15px;
	background: url(img_main/plus.svg) no-repeat;
}
.gramar-item_minus::before {
	background-image: url(img_main/minus.svg);
}
.gramar-item_mark::before {
	background-image: url(img_main/question-mark.svg);
}
.example-item {
	width: 75%;
	padding-right: 25px;
	transition: .4s;
}
.example-item_main:hover {
	color: #b105ff;
}
.example-item_main {
	position: relative;
	display: inline;
	cursor: pointer;	
}
.example-item_triangle {
	position: absolute;
	content: '';
	top: 55%;
	right: 0;
	width: 10px;
	height: 10px;
	background: url(img_main/triangle.svg) no-repeat;
	transform: translateY(-50%) rotate(180deg);
	transform-origin: 50% 50%;
	transition: .5s;
}
.turn-triangle {
	transform: translateY(-50%) rotate(0deg);
}

/*Words*/

.words-img-wrap {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 300px;
	height: 225px;
	margin: 30px auto 0;
	padding: 10px;
	border: 1px solid #b105ff;
	border-radius: 6px;
	transition: .6s;
	cursor: pointer;
}
.words-img-wrap:hover {
	box-shadow: 0 0 12px 1px rgba(177, 5, 255, 0.5);
}
.words__img {
	max-width: 95%;
	max-height: 90%;
}
.words__eng,
.words-grid__eng {
	padding: 5px 0 0;
}
.words__sound,
.words-grid__sound {
	display: block;
	font-size: 16px;
	font-style: italic;
	text-align: center;
}
.words__ru,
.words-grid__ru {
	display: block;
	font-size: 20px;
	text-align: center;
}
.words-btn-wrap {
	display: flex;
	justify-content: space-between;
	width: 310px;
	margin: 25px auto;
}
.words__btn_back,
.words__btn_next {
	width: 46%;
	font-size: 18px;
}
.words__btn_back:hover,
.words__btn_next:hover {
	box-shadow: 0 0 12px 1px rgba(177, 5, 255, 0.5);
}
.words-overlay,
.empty-overlay,
.draw-grid-overlay,
.draw-all-overlay,
.overlay-verbs,
.overlay-verbs-table {
	position: fixed;
	z-index: 10;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.7);
}
.words-overlay__img,
.draw-grid,
.draw-all {
	position: relative;
	z-index: 12;
	width: 80%;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
	grid-row-gap: 12px;
	grid-column-gap: 12px;
	align-content: start;
	overflow-y: auto;
	margin: 5px auto;
	padding: 5px;
	height: 100vh;
}
.words-overlay__img-item,
.words-grid__img,
.draw-grid__img,
.draw-all__img-wrap {
	width: 100%;
	height: 200px;
	transition: .8s;
	cursor: pointer;
}
.words-overlay__img-item:hover,
.draw-grid__img:hover,
.draw-all__img-wrap:hover {
	box-shadow: 0 0 8px 2px rgba(255, 255, 255, 0.5);
}

/*words-grid*/

.words-grid-wrap {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(180px,1fr));
	grid-row-gap: 10px;
	grid-column-gap: 10px;
	align-content: start;
	width: 80%;
	margin: 30px auto;
}
.words-grid {
	padding-top: 7px;
	border: 1px solid transparent;
	text-align: center;
	transition: .8s;
	cursor: default;
}
.words-grid:hover {
	border: 1px solid #b105ff;
	text-align: center;
}
.words-grid__img {
	height: 160px;
	cursor: default;
}
.words-grid__eng {
	padding: 0;
	font-size: 20px;
}
.words-grid__sound {
	font-size: 14px;
}
.words-grid__ru {
	font-size: 16px;
}
.category-item {
	position: relative;
}
.words-grid__btn {
	position: absolute;
	top: 5px;
	right: 5px;
	width: 20px;
	height: 20px;
	background: url(img_main/grid-inactive.svg) center center no-repeat;
	cursor: pointer;
}
.words-grid__btn:hover {
	box-shadow: none;
}
.words-grid__btn:first-child {
	right: 45px;
	background: url(img_main/square.svg) 100% 50% no-repeat;
	background-size: 80% 80%;
}

/*Text*/

.text-title {
	padding: 30px 0 15px;
}
.text-paragraph {
	width: 75%;
	margin: 0 auto 12px;
	font-size: 17px;
	line-height: 1.8;
	word-spacing: 1px;
	text-align: justify;
}
.text-paragraph:last-child {
	margin-bottom: 40px;
}
.text-paragraph img {
	width: 300px;
	margin: 5px 2px 0;
	border: 1px solid transparent;
	border-radius: 6px;
}

/*Practice*/

.practice-wrap-temp {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 700px;
	margin: 0 auto 10px;
}
.practice__title {
	width: 100%;
}
.practice-category {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	width: 40%;
	min-height: 300px;
	border: 2px solid #b105ff;
	border-radius: 6px;
	text-align: center;
	background: url(img_main/pen.svg) 50% 30% no-repeat;
	background-size: 50% 50%;
	cursor: pointer;
	transition: .4s;
}
.practice-category:nth-child(2) {
	background-image: url(img_main/test.svg);
}
.practice-category:hover {
	box-shadow: 0 0 12px 1px rgba(177, 5, 255, 0.5);
	background-size: 51% 51%;
}
.practice-category__title {
	margin-bottom: 30px;
	font-size: 26px;
}
/*Test and Exercise*/
.practice-test,
.practice-exercise {
	position: relative;
	width: 550px;
	margin: 0 auto 10px;
	padding-top: 40px;
	font-size: 18px;
}
.count-question,
.count-question-exercise {
	position: absolute;
	top: 20px;
	right: 0;
	font-size: 12px;
	font-style: oblique;
}
.practice-test__text,
.practice-exercise__text {
	margin-bottom: 40px;
	word-spacing: 3px;
	text-align: center;
	word-spacing: 3px;
}
.practice-test__empty {
	display: inline-block;
	min-width: 50px;
	height: 18px;
	border-bottom: 1px solid rgba(177, 5, 255, 0.5);
}
.practice-test ul {
	width: 350px;
	margin: 0 auto;
}
.practice-test-item {
	margin: 0 0 20px 50px;
	padding-left: 50px;
	transition: .4s;
	background: url(img_main/radio-off.svg) 0% 60% no-repeat;
	background-size: 10% 60%;
	cursor: pointer;
}
.practice-test-item:hover {
	color: #b105ff !important;
}
.practice-test__btn {
	width: 200px;
	margin: 40px auto 0;
}

.practice-exercise__text {
	margin-top: 20px;
	font-size: 20px;
}
.practice-exercise__empty {
	display: inline-block;
	width: 100px;
	color: #3f3f3f;
	font: 700 20px/1 'Lato', Arial, Helvetica, sans-serif;
	text-align: center;
	border: 0.5px solid #b105ff;
	border-radius: 4px;
	color: #b105ff;
	background: rgba(177, 5, 255, 0.02);
}
.practice-test__btn {
	width: 43%;
	font-size: 18px;
}
.practice-exercise__mark {
	position: absolute;
	top: 20px;
	left: 0;
	width: 25px;
	height: 25px;
	background:  no-repeat;
}
.practice-exercise-correct {
	border-color: #45b537;
	color: #45b537;
}
.practice-exercise-incorrect {
	border-color: #fb4949;
	color: #fb4949;
}

/*Listening*/

.dialogue {
	margin-bottom: 110px;
	text-align: center;
}
.audio-player-wrap {
	position: fixed;
	z-index: 5;
	bottom: 1px;
	left: 50%;
	width: 767px;
	height: 100px;
	border: 1.5px solid rgba(63, 63, 63, 0.5);
	border-right-width: 2px;
	border-radius: 6px;
	background-color: rgb(220, 220, 220);
	transform: translateX(-50%);		
}
.listening-section {
	min-height: 55vh;
	margin-top: -20px;
}
.listening__play {
	position: fixed;
	bottom: 10px;
	left: 10px;
	width: 65px;
	height: 60px;
	padding: 0;
	border: 2px solid transparent;
	border-radius: 50%;
	font-size: 17px;
	font-weight: 600;
	color: #fff;
	background-color: #b105ff;
	box-shadow: 0 0 12px 1px #fff;
	cursor: pointer;
}
.listening__progress {
	position: fixed;
	bottom: 78px;
	left: 50%;
	height: 12px;
	width: 95%;
	border: 1px solid #b105ff;
	border-radius: 4px;
	background-color: #fff;
	transform: translateX(-50%);
	cursor: pointer;
}
.listening__progress::-webkit-progress-bar {
	border-radius: 4px;
	background-color: #fff;
}
.listening__progress::-webkit-progress-value {
	background-color:  #b105ff;
}
.listening__progress::-moz-progress-bar {
	background-color: #b105ff;
}
.listening__duration,
.listening__current-time {
	position: fixed;
	bottom: 55px;
	right: 12px;
	font-size: 13px;
}
.listening__current-time {
	right: 50px;
}
.listening__volume {
	overflow: hidden;
	-webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
	position: fixed;
	bottom: 36px;
	right: 10px;
	width: 75px;
	height: 10px;
	border-radius: 4px;
	cursor: pointer;
}
.listening__volume::-moz-range-progress {
	height: 10px;
 	background-color: #b105ff;
}
.listening__volume::-webkit-slider-runnable-track {
	-webkit-appearance: none;
	appearance: none;
	height: 10px;
	border-radius: 4px;
	background-color: #fff;
}
.listening__volume::-moz-range-track {
	-moz-appearance: none;
    appearance: none;
	height: 10px;
	border-radius: 4px;
	background-color: #fff;
}
.listening__volume::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 12px;
	height: 10px;
	border: 1px solid #b105ff;
	border-radius: 2px;
	background-color: rgba(63, 63, 63, 0.5);
	box-shadow: -77px 0 0 75px #b105ff;
}
.listening__volume::-moz-range-thumb {
	-moz-appearance: none;
    appearance: none;
	width: 12px;
	height: 12px;
	margin-bottom: 2px;
	border-radius: 50%;
	background-color: #fff;
}
.listening__text {
	position: fixed;
	bottom: 28px;
	left: 50%;
	color: #b105ff;
	font-size: 18px;
	font-weight: 600;
	transform: translateX(-50%);
	transition: 0.5s;
	cursor: pointer;
}
.player-bg {
	min-height: 300px;
	background: url(img_main/headphones.svg) center 75% no-repeat;
	background-size: 50% 50%;
}
.track-list__item-wrap {
	position: fixed;
	z-index: 30;
	top: 80px;
	left: 0;
	width: 100%;
	height: 100%;
	padding-top: 25px;
	text-align: center;
	background-color: #fff;
}
.track-list__item {
	margin-bottom: 25px;
	font-size: 20px;
	font-weight: 500;
	cursor: pointer; 
}


/*Homework*/
.homework-list li {
	font-style: oblique;
	letter-spacing: 0.2px;
}
.homework-list li::before {
	top: 50%;
	transform: translateY(-50%);
}

/*Empty state*/
.empty-overlay-modal,
.modal-verbs,
.modal-verbs-table {
	position: fixed;
	z-index: 20;
	top: 10%;
	left: 50%;
	width: 375px;
	min-height: 180px;
	padding: 15px;
	border: 2px solid #b105ff;
	border-radius: 6px;
	text-align: center;
	background-color: rgba(255,255,255,0.9);
	transform: translateX(-50%);
}
.empty-overlay__text {
	margin: 20px 0;
	font-size: 18px;
	letter-spacing: 1px;
}
.empty-overlay__btn {
	width: 150px;
	margin: 30px auto 0;
	padding: 10px;
}

/*Draw image*/
.draw-wrap-img {
	position: relative;
}
.draw__title {
	position: absolute;
	top: 5px;
	right: 5px;
	font-size: 16px;
	transition: .4s;
	cursor: pointer;
}
.draw__title:hover {
	color: #b105ff;
}
.draw__img-main {
	display: block;
	width: 600px;
	margin: 15px auto 10px;
}
.draw__btn,
.draw__img-wrap {
	position: absolute;
	width: 80px;
	padding: 5px;
	cursor: pointer;
}
.draw__btn {
	background: linear-gradient(to bottom, rgba(177, 5, 255, 0.8), #b105ff);
}
.draw__img-wrap {
	text-align: center;
	background-color: #fff;
}
.draw__img {
	width: 80px;
	height: 60px;
}
.draw__eng {
	display: block;
	margin-top: -5px;
}
.draw-all__img-wrap {
	border-radius: 4px;
	text-align: center;
	background-color: rgba(255, 255, 255, 0.9);
}
.draw-all__img {
	width: 80%;
	height: 80%;
	margin-top: 5px;
	padding: 5px;
}
.draw-all__text {
	display: block;
}
.draw-all {
	padding-bottom: 5px;
}

/*Irregular verbs*/
.verbs-wrap {
	position: relative;
	width: 400px;
	min-height: 80vh;
	padding-bottom: 35px;
	margin: 20px auto;
	text-align: center;
}
.verbs__count {
	top: 6px;
	right: 25px;
}
.filter {
	position: absolute;
	top: 6px;
	left: 30px;
	width: 30px;
	height: 30px;
	background: url(img_main/square.svg) center top no-repeat;
	background-size: 20px 20px;
	cursor: pointer;
}
.verbs__table {
	left: 60px;
}
.filter::before {
	position: absolute;
	z-index: 5;
	content: '';
	top: 4px;
	left: 50%;
	width: 12px;
	height: 12px;
	background: url(img_main/filter.svg) no-repeat;
	transform: translateX(-50%);
}
.verbs__table::before {
	background: url(img_main/table.svg) no-repeat;
}
.modal-verbs label {
	position: relative;
	display: block;
	width: 100px;
	margin: 0 auto 5px;
	font-size: 17px;
	cursor: pointer;
	transition: .4s;
}
.modal-verbs label:hover {
	color: #b105ff;
}
.verbs__checkbox {
	visibility: hidden;
}
.verbs__checkbox_sign {
	position: absolute;
	content: "";
	top: 50%;
	left: 15px;
	width: 15px;
	height: 15px;
	background: url(img_main/square.svg) no-repeat; 
	transform: translateY(-50%);
}
.verbs__checkbox:checked + .verbs__checkbox_sign {
	background: #b105ff url(img_main/checkbox.svg) 60% 60% no-repeat;
	background-size: 60% 60%;
	border-radius: 2px;
}
.filter-verbs-btn-wrap {
	display: flex;
	justify-content: space-between;
	width: 220px;
	margin: 20px auto;
}
.filter-verbs__btn {
	width: 120px;
	margin-top: 10px;
	padding: 10px; 
}
.filter-verbs__btn_cancel {
	width: 80px;
	padding: 10px;
	color: inherit;
	background: none;
}
.filter-verbs__btn_cancel:hover {
	color: #b105ff;
	box-shadow: none;
}
.verbs__example {
	display: block;
	margin-bottom: 20px;
	font-size: 20px;
}
.verbs-answer-wrap {
	position: relative;
	width: 360px;
	margin: 0 auto 20px;
}
.verbs-wrap > .words-btn-wrap .verbs__btn {
	margin-top: 15px;
}
.verbs-answer__sign {
	position: absolute;
	top: 50%;
	left: 40px;
	width: 20px;
	height: 20px;
	background: url(img_main/unchecked.svg) no-repeat;
	transform: translateY(-50%);
}
.verbs__input {
	display: block;
	width: 150px;
	margin: 0 auto;
	line-height: 1.5;
}
.verbs__input::-moz-placeholder,
.verbs__input:-moz-placeholder
.verbs__input::placeholder {
	color: rgba(63,63,63,0.4);
	font-weight: 400;
}
.verbs__input::-webkit-input-placeholder {
	color: rgba(63,63,63,0.4);
	font-weight: 400;
}
.verbs-answer__correct {
	position: absolute;
	display: none;
	top: 50%;
	right: 0;
	min-width: 80px;
	font-size: 18px;
	text-align: left;
	transform: translateY(-50%);
}
.random-text {
	position: absolute;
	bottom: 5px;
	left: 50%;
	font-size: 18px;
	transform: translateX(-50%);
	transition: .4s;
	cursor: pointer;
}
.random-text:hover {
	color: #b105ff;
}
.modal-verbs-table {
	position: relative;
	top: 3%;	
	width: 90%;
	height: 95%;
	overflow-y: auto;
}
.verbs-table-btn {
	position: absolute;
	top: 5px;
	right: 2px;
	width: 25px;
	height: 25px;
	background: rgba(177, 5, 255, 0.6);
}
.verbs-table-btn::before,
.verbs-table-btn::after {
	position: absolute;
	content: "";
	top: 50%;
	left: 50%;
	width: 3px;
	height: 20px;
	border-radius: 6px;
	background-color: #fff;
	transform: translate(-50%,-50%) rotate(-45deg);
}
.verbs-table-btn::after {
	transform: translate(-50%,-50%) rotate(45deg);
}
.verbs-table {
	width: 85%;
	margin: 12px auto 30px;
	border-collapse: collapse;
}
.verbs-table th {
	width: 25%;
	padding: 10px;
	border: 1px solid rgba(63,63,63, 0.3);
	color: #fff;
	background-color: #b105ff;
}
.verbs-table th:first-child {
	border-left-color: #b105ff;
}
.verbs-table th:last-child {
	border-right-color: #b105ff;
}
.verbs-table td {
	width: 25%;
	padding: 8px;
	border: 1px solid #b105ff;
}
.verbs-table td:last-child {
	font-size: 15px;
}
/*Overlay*/

.overlay-show {
	display: block;
	animation: showOverlay 0.5s ease-out;
}
.overlay-close {
	animation: closeOverlay 0.5s ease;
	animation-fill-mode: forwards;
}
@keyframes showOverlay {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@keyframes closeOverlay {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
		display: none;
	}
}


/*Media*/
@media (max-width: 1400px) {
	.header-logo-wrap h1 {
		font-size: 28px;
	}
	.main-title {
		font-size: 24px;
	}
	.unit,
	.menu {
		width: 400px;
		margin-bottom: 15px;
	}
	.unit__title,
	.menu {
		font-size: 22px;
	}
	.category-wrap {
		margin: 40px auto;
		padding: 0 10px;
	}
	.category {
		min-height: 230px;
	}
	.category__title {
		font-size: 22px;
	}
	/*Words*/
	.words-img-wrap {
		width: 280px;
		height: 200px;
	}
	.main-title {
		font-size: 22px;
	}
	.words__ru {
		font-size: 18px;
	}
	.words-overlay__img,
	.draw-grid,
	.draw-all {
		width: 90%;
		grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
	}
	.words-overlay__img-item,
	.words-grid__img,
	.draw-grid__img,
	.draw-all__img-wrap {
		width: 100%;
    	height: 170px;
	}
	/*Practice*/
	.practice-wrap-temp {
		max-width: 600px;
	}
	.practice-category {
		min-height: 240px;
		background-size: 45% 45%;
	}
	.practice-category:hover {
		background-size: 44% 44%;
	}
	.practice-category__title {
	    margin-bottom: 20px;
	    font-size: 20px;
	}
	.practice-test__btn {
		margin-top: 20px;
	}
	/*Listening*/
	.track-list_header {
		padding: 15px 0;
	}
} 
@media (max-width: 767px) {
	.menu-draw {
		display: none;
	}
	.practice-wrap-temp,
	.practice-test,
	.practice-exercise {
		max-width: 450px;
	}
	.practice-category {
		width: 48%;
	}
	.dialogue img {
		width: 375px;
		margin: 0 auto;
	}
	.audio-player-wrap {
		width: 465px;
	}
	.homework-wrap>.main-title {
		padding: 15px 0;
	}
	.modal-verbs-table {
		width: 95%;
		padding-top: 30px;
	}
}	
@media (max-width: 470px) {
	.header-main {
		padding: 7px 0;
	}
	.header-logo-wrap img {
		width: 45px;
	}
	.header-logo-wrap h1 {
		font-size: 24px;
	}
	.unit,
	.menu {
		width: 90%;
	}
	.unit__title,
	.menu {
		font-size: 20px;
	}
	.category-wrap {
		margin: 10px auto 20px;
		grid-row-gap: 5px;
	}
	.category {
		width: 250px;
		min-height: 160px;
		margin: 15px auto 0;
	}
	.category::before {
		top: 20px;
		width: 75px;
		height: 75px;
	}
	.category__title {
		margin-bottom: 15px;
		font-size: 20px;
	}
	/*Category*/
	.header-main__link {
		width: 40px;
		height: 40px;
	}
	.main-title {
		font-size: 18px;
		padding: 15px 0 10px;
	}
	.gramar-item {
		margin: 0 auto 7px;
		font-size: 16px;
	}
	.example-item {
		font-size: 15px;
	}
	/*Words*/
	.words-grid__btn {
		display: none;
	}
	.words-img-wrap {
		width: 250px;
   		height: 175px;
	}
	.words-overlay__img {
		grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
		width: 100%;
	}
	.words__eng {
		padding: 5px 0 0;
		font-size: 17px;
	}
	.words__sound {
		font-size: 14px;
	}
	.words__ru {
		font-size: 16px;
	}
	.words-btn-wrap {
		width: 290px;
		margin: 15px auto;
	}
	.words__btn_back,
	.words__btn_next {
		padding: 12px 10px;
		font-size: 16px;
	}
	.text-paragraph {
		width: 95%;
		font-size: 16px;
		word-spacing: 0.5;
	}
	.text-paragraph img {
		width: 180px;
	}
	/*Practice*/
	.practice-wrap-temp,
	.practice-test,
	.practice-exercise {
		max-width: 100%;
	}
	.practice-category {
		width: 75%;
		min-height: 180px;
		margin: 0 auto 15px;
	}
	.practice-wrap-temp>h2 {
		margin-bottom: 10px;
	}
	.practice-category__title {
		font-size: 18px;
	}
	.practice-test,
	.practice-exercise {
		padding-top: 25px;
	}
	.count-question,
	.count-question-exercise {
		top: 5px;
		font-size: 10px;
	}
	.practice-test__text,
	.practice-test-item {
		margin-bottom: 10px;
	}
	.practice-test__btn {
		margin-top: 25px;
		padding: 12px 10px;
		font-size: 15px;
	}
	.practice-exercise__text {
		margin: 0 auto 10px; 
	}
	.practice-test__text {
		font-size: 15px;
	}
	.practice-exercise__empty {
		font: 700 15px/1.5 'Lato', Arial, Helvetica, sans-serif;
	}
	.practice-exercise__mark {
		width: 13px;
		height: 13px;
	}
	/*Listening*/
	.audio-player-wrap {
		width: 100%;
	}
	.listening__play {
		font-size: 15px;
	}
	.listening__current-time,
	.listening__duration {
		font-size: 11px;
	}
	.listening__text {
		font-size: 16px;
	}
	/*Verbs*/
	.verbs-wrap,
	.verbs-answer-wrap {
		width: 100%;
	}
	.verbs-answer-wrap {
		margin-bottom: 30px;
	}
	.verbs-answer__sign {
		left: 14%;
	}
	.verbs__input {
		line-height: 2;
	}
	.verbs-answer__correct {
		width: 100%;
		top: 40px;
		font-size: 16px;
		text-align: center; 
	}
	.verbs__count {
		top: 7px;
		right: 12px;
	}
	.filter {
		left: 8px;
	}
	.verbs__table {
		left: 40px;
	}
	.verbs-wrap > .words-btn-wrap .verbs__btn {
		margin-top: 7px;
	}
	.empty-overlay-modal,
	.modal-verbs {
		width: 305px;
	}
	/*Table verbs*/
	.modal-verbs-table {
		top: 0;
		width: 100%;
		height: 100%;
		padding: 10px 0;
		border: none;
		border-radius: 0;
	}
	.verbs-table-btn {
		right: 8px;
	}
	.verbs-table {
		width: 98%;
		margin-top: 30px;
		font-size: 14px;
	}
	.verbs-table th,
	.verbs-table td {
		padding: 5px;
	}
	.verbs-table td:last-child {
		font-size: 13px;
	}
}

@media (max-width: 375px) {
	.text-paragraph img {
		display: block;
		width: 98%;
	}
	.verbs-table th,
	.verbs-table td {
		padding: 2px;
	}
	.verbs-table td:last-child {
		font-size: 12px;
	}
}	